/* =Typography
-----------------------------------------------------------------------------*/
body {

}

/* =Links
-----------------------------------------------------------------------------*/


/* =Layout
-----------------------------------------------------------------------------*/
.units-container {
    max-width: 960px;
    margin: 0 auto;
}


/* =Header
-----------------------------------------------------------------------------*/

header {
    background: url('../img/stars.jpg') top center repeat-x;
    padding: 20px 0px;
}

header h1 {
    color: #8cb8d1;
}

header h1.subheader { color: #eee;}
/* =Nav
-----------------------------------------------------------------------------*/
.main-nav {
    background-color: #333;
    border-top: 1px solid #555;
    padding: 10px 0;
}

.main-nav a {color: #8cb8d1;}
.main-nav a:hover {
    color: #fff !important;
    text-decoration: none !important;
}

.main-nav span {
    color: #ccc !important;
}

.main-nav li {
    margin-right: 40px !important;
}

/* =Misc
-----------------------------------------------------------------------------*/


/* =Footer
-----------------------------------------------------------------------------*/
